################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Payment method/.vs/Payment method/FileContentIndex
